<img src="assets/shiro_tardis.jpg" class="target-image">
<div class="swatch-box" id="swatch"> </div>

<script type="text/javascript">

var image = document.querySelector('.target-image');
image.onload = function(){
  var colorThief = new ColorThief();
  var color = colorThief.getColor(image); 

  var palette = colorThief.getPalette(image);
  console.log(palette);

  document.getElementById("swatch").style["background-color"] = 'rgb(' + color[0] + ',' + color[1] + ',' + color[2] + ')';
};

// var image = new Image;
// image.onload = function() {
//     var colorThief = new ColorThief();
//     var dominantColor = colorThief.getColor(image);
// };
// image.src = "assets/shiro_tardis.jpg";

</script>