<img src="/assets/shiro_tardis.jpg" id="myImage">
<div class="dominant"><p>Color 1</p></div>
<div class="palette">
  <div id="colorBox"><p id="colorLabel">Color 2</p></div>
  <div id="colorBox"><p id="colorLabel">Color 3</p></div>
  <div id="colorBox"><p id="colorLabel">Color 4</p></div>
  <div id="colorBox"><p id="colorLabel">Color 5</p></div>
  <div id="colorBox"><p id="colorLabel">Color 6</p></div>
  <div id="colorBox"><p id="colorLabel">Color 7</p></div>
  <div id="colorBox"><p id="colorLabel">Color 8</p></div>
  <div id="colorBox"><p id="colorLabel">Color 9</p></div>
</div>