<h1>Products</h1>

<div>
  <h2>Recently Added</h2>
  <% @recent_products.each do |product| %>
    <a href="/products/<%= product.id %>"><%= image_tag "#{product.image}", class: 'thumbnail' %></a>
  <% end %>
</div>

<div>
  <h2>All Products</h2>
  <% @products.each do |product| %>
    <a href="/products/<%= product.id %>"><%= image_tag "#{product.image}", class: 'thumbnail' %></a>
  <% end %>
</div>
